In [2]:
import numpy as np

In [36]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']

sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']

weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]

rank_list = [8,1,5,4,7,6,2,3]

myopia_list = [True,True,False,False,True,True,False,False]

1.

In [9]:
dt = np.dtype('U5, U5, f8, i8, ?')

In [33]:
c = np.zeros(8, dtype=dt)
c

array([('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False)],
      dtype=[('f0', '<U5'), ('f1', '<U5'), ('f2', '<f8'), ('f3', '<i8'), ('f4', '?')])

In [38]:
c['f0'] = name_list
c['f1'] = sex_list
c['f2'] = weight_list
c['f3'] = rank_list
c['f4'] = myopia_list

In [39]:
print(c)

[('小明', 'boy', 67.5, 8,  True) ('小華', 'boy', 75.3, 1,  True)
 ('小菁', 'girl', 50.1, 5, False) ('小美', 'girl', 45.5, 4, False)
 ('小張', 'boy', 80.8, 7,  True) ('John', 'boy', 90.4, 6,  True)
 ('Mark', 'boy', 78.4, 2, False) ('Tom', 'boy', 70.7, 3, False)]

2.

In [41]:
np.mean(c["f3"])

4.5

3.

In [47]:
np.mean(c[c['f1'] == 'boy']['f2'])

77.18333333333332

In [48]:
np.mean(c[c['f1'] == 'girl']['f2'])

47.8